<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
  </head>
  <body>
    <h1>Calculator</h1>
    <form action="/calculate" method="POST">
      <input type="number" name="num1" placeholder="Enter first number"><br><br>
      <input type="number" name="num2" placeholder="Enter second number"><br><br>
      <input type="radio" name="operation" value="add" checked>Add<br>
      <input type="radio" name="operation" value="subtract">Subtract<br>
      <input type="radio" name="operation" value="multiply">Multiply<br>
      <input type="radio" name="operation" value="divide">Divide<br><br>
      <input type="submit" value="Calculate">
    </form>
  </body>
</html>
